<div class='tutorial-progress'>
  <div class='tutorial'>
    <div class='title-container'>
      <textarea
        placeholder='enter name'
        type='text'
        style='overflow:auto'
      ></textarea>
    </div>
  </div>
</div>