<form action='/structure/create-application' method='post'>
  <div class='mb-3'>
    <label for='appName' class='form-label'>Application</label>
    <input type='text' name='appName' class='form-control' id='appName' />
  </div>
  <button type='submit' class='btn btn-primary'>Submit</button>
</form>