<nav class='features'>
  <div class='features-count'>
    <p>Features</p>
    <p class='count'>0 / 4</p>
  </div>
  <div class='features-collection'>
    <button class='feature-btn'>Feature 1</button>
    <button class='feature-btn'>Feature 2</button>
    <button class='feature-btn'>Feature 3</button>
    <button class='feature-btn'>Feature 4</button>
  </div>
  <div class='add-group-feature'>
    <input type='text' class='group-feature-name' placeholder='enter name' />
    <button class='add-group-feature-btn' id='add-feature-btn'><i
        class='fa fa-plus fa-lg'
      ></i>
    </button>
  </div>
</nav>