<nav class='features'>
  <div class='add-group-feature'>
    <input
      type='text'
      class='group-feature-name'
      id='group-feature-name'
      placeholder='enter name'
    />
    <button class='add-group-feature-btn' id='add-group-feature-btn'><i
        class='fa fa-plus fa-lg'
      ></i>
    </button>
  </div>
</nav>