<form action='/structure/create-feature' method='post'>
  <div class='mb-3'>
    <label for='featureName' class='form-label'>Feature Name</label>
    <input
      type='text'
      name='featureName'
      class='form-control'
      id='featureName'
    />
  </div>
  <button type='submit' class='btn btn-primary'>Submit</button>
</form>