<nav class='groups'>
  <div class='app-xref'>
    <div class='app-name'>Dynamic <br /> Tutorials</div>
  </div>
  <div class='groups-nav'>
    <button class='dropdown-btn'>
      Home
      <i class='fa fa-caret-down'></i>
    </button>
  </div>
  <div class='groups-nav'>
    <button class='dropdown-btn'>
      Viewer
      <i class='fa fa-caret-down'></i>
    </button>
  </div>
  <div class='groups-nav'>
    <button class='dropdown-btn'>
      Editor
      <i class='fa fa-caret-down'></i>
    </button>
  </div>
  {{! <div class='groups-nav'>
    <button class='dropdown-btn'>
      Home
      <i class='fa fa-caret-down'></i>
    </button>
    <div class='dropdown-container'>
      <a href='#'>Link 1</a>
      <a href='#'>Link 2</a>
      <a href='#'>Link 3</a>
      <div class='groups-nav'>
        <button class='dropdown-btn'>
          Editor
          <i class='fa fa-caret-down'></i>
        </button>
        <div class='dropdown-container'>
          <a href='#'>Link 3</a>
          <a href='#'>Link 4</a>
        </div>
      </div>
    </div>
  </div> }}
</nav>