<div class='media row' id='media'>
  <div id='image' class='col-8 border p-5 text-center'>image</div>
  <div id='note' class='col-4 border p-5 text-center'>notes</div>
  <div id='audio' class='col-12 border p-2 text-center'>audio</div>
</div>