<p class='text-center display-6 my-4'>Add Media</p>
<form class='media row' action='/media/create-media' method='post'>
  <div class='mb-3'>
    <label for='appName' class='form-label'>App Name</label>
    <input
      type='text'
      name='appName'
      class='form-control'
      id='appName'
      aria-describedby='emailHelp'
    />
  </div>
  <div class='mb-3'>
    <label for='ParentName' class='form-label'>Parent Name</label>
    <input type='text' name='ParentName' class='form-control' id='ParentName' />
  </div>
  <div class='mb-3'>
    <label for='featureName' class='form-label'>Feature Name</label>
    <input
      type='text'
      name='featureName'
      class='form-control'
      id='featureName'
    />
  </div>
  <div class='d-grid gap-2'>
    <button type='submit' class='btn btn-primary'>Submit</button>
  </div>

</form>