<div class='row border-bottom mb-2'>
  <div
    class='col text-center text-truncate border p-2'
    id='agent-information'
  >Agent Information</div>
  <div class='col text-center text-truncate border p-2'>Departments</div>
  <div class='col text-center text-truncate border p-2'>Login and Security</div>
  <div class='col text-center text-truncate border p-2'>Images and Greeting</div>
  <div class='col text-center text-truncate border p-2'>Automatic Distribution</div>
  <div class='col text-center text-truncate border p-2'>Agent Hours</div>
  <div class='col text-center text-truncate border p-2'>Email Settings</div>
  <div class='col text-center text-truncate border p-2'>Advanced Settings</div>
</div>
<span class='border-bottom-1'></span>