<div class='row border-bottom p-2 mb-2'>
  <div class='col text-center'>Agent Information</div>
  <div class='col text-center'>Departments</div>
  <div class='col text-center'>Login and Security</div>
  <div class='col text-center'>Images and Greeting</div>
  <div class='col text-center'>Automatic Distribution</div>
  <div class='col text-center'>Agent Hours</div>
  <div class='col text-center'>Email Settings</div>
  <div class='col text-center'>Advanced Settings</div>
</div>
<span class='border-bottom-1'></span>