<nav class='navbar'>
  <a href='http://localhost:4500/tutorials/show' class='brand'>Dynamic Tutorials</a>
  <ul id='nav-btns'>
    <li id='viewer-btn'>Viewer</li>
    <li id='editor-btn'>Editor</li>
    <li>Logout</li>
  </ul>
</nav>