<nav class='navbar'>
  <a href='http://localhost:4500/tutorials/show' class='brand'>Dynamic Tutorials</a>
  <!-- nanorep embedded widget -->
  <div id='nanorep-embedded-widget'></div>
  <script>!function(t,e,o,c,n,a){var
    s=window.nanorep=window.nanorep||{};s=s[e]=s[e]||{},s.apiHost=a,s.host=n,s.path=c,s.account=t,s.protocol="https:",s.on=s.on||function(){s._calls=s._calls||[],s._calls.push([].slice.call(arguments))};var
    p=s.protocol+"//"+n+c+o+"?account="+t,l=document.createElement("script");l.async=l.defer=!0,l.setAttribute("src",p),document.getElementsByTagName("head")[0].appendChild(l)}("eudemos","embeddedWidget","embedded-widget.js","/web/","eudemos.nanorep.co");</script>

  <script>
    nanorep.embeddedWidget.on({ init: function() {
    this.setConfigId('976811952'); } });
  </script>
  <!-- //nanorep embedded widget -->

  <ul id='nav-btns'>
    <li id='viewer-btn'>Viewer</li>
    <li id='editor-btn'>Editor</li>
    <li>Logout</li>
  </ul>
</nav>