<nav class='navbar'>
  <button href='#' class='brand'>Dynamic Tutorials</button>
  <ul id='nav-btns'>
    <li id='viewer-btn'>Viewer</li>
    <li id='editor-btn'>Editor</li>
    <li>Logout</li>
  </ul>
</nav>