<div class='slides-viewer'>
  <div class='slides-progress'>
    <div class='progress-disc' style='background-color: #8b949e'></div>
    <div class='progress-disc' style='background-color: #8b949e'></div>
    <div class='progress-disc' style='background-color: #8b949e'></div>
    <div class='progress-disc'></div>
    <div class='progress-disc'></div>
    <div class='progress-disc'></div>
  </div>
  <canvas class='canvas'></canvas>
  <div class='slide-controls'></div>
</div>