<div id='slides-viewer' class='slides-viewer'>
  <div class='slides-header'>
    <div class='slides-progress'>
      <div class='prograss-frag'>
        <div class='progress-bar' style='background-color: #8b949e'></div>
        <div class='progress-disc' style='background-color: #8b949e'></div>
      </div>
      <div class='prograss-frag'>
        <div class='progress-bar' style='background-color: #8b949e'></div>
        <div class='progress-disc' style='background-color: #8b949e'></div>
      </div>
      <div class='prograss-frag'>
        <div class='progress-bar' style='background-color: #8b949e'></div>
        <div class='progress-disc' style='background-color: #8b949e'></div>
      </div>
      <div class='prograss-frag'>
        <div class='progress-bar'></div>
        <div class='progress-disc'></div>
      </div>
      <div class='prograss-frag'>
        <div class='progress-bar'></div>
        <div class='progress-disc'></div>
      </div>
      <div class='prograss-frag'>
        <div class='progress-bar'></div>
        <div class='progress-disc'></div>
      </div>
      <div class='prograss-frag'>
        <div class='progress-bar'></div>
        <div class='progress-disc'></div>
      </div>
      <div class='prograss-frag'>
        <div class='progress-bar'></div>
        <div class='progress-disc'></div>
      </div>
      <div class='prograss-frag'>
        <div class='progress-bar'></div>
        <div class='progress-disc'></div>
      </div>
    </div>
    <div class='add-slide'>
      <input
        id='inheader-slide-id'
        class='inheader-slide-id'
        type='text'
        placeholder='existing slide id'
      />
      <button class='add-slide-btn' id='add-slide-btn'>
        <i class='fa fa-plus'></i>
      </button>
    </div>
  </div>
  <div class='slides-body' id='slides-body'>
    <input
      id='incanvas-slide-name'
      class='incanvas-slide-name'
      type='text'
      placeholder='slide name'
    />
    <input
      id='incanvas-slide-id'
      class='incanvas-slide-id'
      type='text'
      readonly
      value='627cdc26ceaccba121754f9d'
    />
    <label class='file-input'>
      Select an image file
      <input type='file' id='file-input' accept='image/*' />
    </label>
    <div class='prev-btn' id='prev-btn'>&#10094</div>
    <div class='next-btn' id='next-btn'>&#10095</div>
    <div class='notes-body'>
      <div id='notes-content' class='notes-content'>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias nisi
        maxime maiores minus nihil laudantium molestiae, fugit modi dolores
        accusantium quaerat. Est voluptates quasi reiciendis eum harum illo
        optio incidunt, exercitationem quia quidem eaque unde! Autem dolor
        blanditiis repellat itaque maxime velit porro a accusantium adipisci
        quasi. Repudiandae, nulla aperiam.
        <br />
        <br />
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias nisi
        maxime maiores minus nihil laudantium molestiae, fugit modi dolores
        accusantium quaerat. Est voluptates quasi reiciendis eum harum illo
        optio incidunt, exercitationem quia quidem eaque unde! Autem dolor
        blanditiis repellat itaque maxime velit porro a accusantium adipisci
        quasi. Repudiandae, nulla aperiam.
        <br />
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias nisi
        maxime maiores minus nihil laudantium molestiae, fugit modi dolores
        accusantium quaerat. Est voluptates quasi reiciendis eum harum illo
        optio incidunt, exercitationem quia quidem eaque unde! Autem dolor
        blanditiis repellat itaque maxime velit porro a accusantium adipisci
        quasi. Repudiandae, nulla aperiam.
      </div>
      <textarea id='notes-textarea' name='' id=''></textarea>
      <button class='slide-controls-btn' id='submit-notes-btn'>save</button>
    </div>
    <canvas id='canvas' class='canvas'></canvas>
    <div id='slide-img' class='slide-img' alt=''></div>
  </div>
  <div class='slide-controls'>
    <button class='slide-controls-btn' id='slide-show-notes-btn'>notes</button>
    <button class='slide-controls-btn' id='slide-add-notes-btn'>add notes</button>
    <div class='audio-player'>
      <div class='actions-controls'>
        <div id='record-btn' class='record-btn stop-rec'>
        </div>
        <div id='play-btn' class='play-btn'>
          <i class='fa fa-play'></i>
        </div>
        <div id='stop-btn' class='stop-btn'>
          <i class='fa fa-square'></i>
        </div>
      </div>
      <input type='range' class='timeline' max='100' value='0' />
      {{! <i class='fa fa-repeat'></i> }}
      <i class='fa fa-volume-up'></i>
      {{! <i class='fa fa-volume-off'></i> }}

      <audio
        id='main-audio'
        src='https://www.learningcontainer.com/wp-content/uploads/2020/02/Kalimba.mp3'
      ></audio>
    </div>
    <div id='expand-btn'>
      <div class='fa fa-expand'></div>
    </div>
    <div id='compress-btn'>
      <div class='fa fa-compress'></div>
    </div>
    <button class='slide-controls-btn' id='slide-submit-btn'>submit</button>
  </div>
</div>