<div class='tutorials-container'>
  {{#if data}}
    {{#each data}}
      <div
        id='{{_id}}'
        class='tutorial-progress'
        style='background: conic-gradient( #8b949e 0%,  #8b949e {{progress}}%, #1f242c {{progress}}%, #1f242c 100%);'
      >
        <div class='tutorial'>
          <div class='title-container'>
            <h3 class='tutorial-title'>{{name}}</h3>
          </div>
        </div>
      </div>
    {{/each}}
  {{/if}}
  {{! <div
    class='tutorial-progress'
    style='background: conic-gradient( #8b949e 0%,  #8b949e 30%, #1f242c 30%, #1f242c 100%);'
  >
    <div class='tutorial'>
      <div class='title-container'>
        <h3 class='tutorial-title'>Dynamic Tutorials</h3>
      </div>
    </div>
  </div>
  <div
    class='tutorial-progress'
    style='background: conic-gradient( #8b949e 0%,  #8b949e 60%, #1f242c 60%, #1f242c 100%);'
  >
    <div class='tutorial'>
      <div class='title-container'>
        <h3 class='tutorial-title'>Study Room</h3>
      </div>
    </div>
  </div>
  <div
    class='tutorial-progress'
    style='background: conic-gradient( #8b949e 0%,  #8b949e 20%, #1f242c 20%, #1f242c 100%);'
  >
    <div class='tutorial'>
      <div class='title-container'>
        <h3 class='tutorial-title'>Indoor Jungle</h3>
      </div>
    </div>
  </div>
  <div
    class='tutorial-progress'
    style='background: conic-gradient( #8b949e 0%,  #8b949e 80%, #1f242c 80%, #1f242c 100%);'
  >
    <div class='tutorial'>
      <div class='title-container'>
        <h3 class='tutorial-title'>DX Admin Center</h3>
      </div>
    </div>
  </div> }}

  <div class='tutorial-add' id='tutorial-add-btn'></div>

</div>