<div class='level-one-container row border-bottom pt-2 pb-3 mb-3'>
  <div class='col level-one-label' id='agent-information'>
    <div class='text-center text-truncate'>Agent Information</div>
    <span></span>
  </div>
  <div class='col level-one-label'>
    <div class='text-center text-truncate'>Departments</div>
    <span></span>
  </div>
  <div class='col level-one-label'>
    <div class='text-center text-truncate'>Login and Security</div>
    <span></span>
  </div>
  <div class='col level-one-label'>
    <div class='text-center text-truncate'>Images and Greeting</div>
    <span></span>
  </div>
  <div class='col level-one-label'>
    <div class='text-center text-truncate'>Automatic Distribution</div>
    <span></span>
  </div>
  <div class='col level-one-label'>
    <div class='text-center text-truncate'>Agent Hours</div>
    <span></span>
  </div>
  <div class='col level-one-label'>
    <div class='text-center text-truncate'>Email Settings</div>
    <span></span>
  </div>
  <div class='col level-one-label'>
    <div class='text-center text-truncate'>Advanced Settings</div>
    <span></span>
  </div>
</div>
<span class='border-bottom-1'></span>