<div id='sidebar' class='sidebar hide flex-shrink-0 p-3 bg-white'>
  <a
    href='/'
    class='d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom'
  >

    <span class='fs-5 fw-semibold'>Genesys DX Admin Center</span>
  </a>
  <ul id='sidebar-menu' class='list-unstyled ps-0'>

  </ul>
</div>