<div class='learn-main' id='learn-main'>
  {{!-- <h1 class='text-center mt-4'>Dynamic Tutorials</h1> --}}
  {{> _navLevelOne}}
  {{> _navLevelTwo}}
  {{> _media}}
  <button id="hide-sidebar">Hide</button>
</div>
