<div class='learn-main' id='learn-main'>
  {{!-- <h1 class='text-center mt-4'>Dynamic Tutorials</h1> --}}

  {{> _navLevelOne}}
  {{> _navLevelTwo}}
 
  {{!-- {{> _media}} --}}
  <div class="row">
    <div class="col-2">
          {{> _applicationForm}}
          {{> _groupForm}}
          {{> _featureForm}} 
    </div>
    <div class="col-10">
      {{> _slideForm}}
    </div>
  </div>
  <button id="hide-sidebar">Hide</button>
</div>
