.learn-main {
  width: 100%;
}

.media-image {
  max-height: 70vh;
  overflow: hidden;
}

.media-audio {
  display: flex;
  justify-content: center;
  align-items: center;
}

.media-audio audio {
  display: block;
  height: 40px;
  width: 80%;
}
