@import url('./styles/customAudio.css');

:root {
  --tone-1: #f0f6fc;
  --tone-2t: #f0f6fc94;
  --tone-3: #7d8794;
  --tone-4: #535b64;
  --tone-5: #161b22;
  --tone-5t: #161b228d;
}

html {
  overflow: hidden;
}

body {
  background-color: #0d1117;
  color: var(--tone-1);
  font-size: 14px;
  box-sizing: border-box;
}

.fa {
  cursor: pointer;
}

/* Navbar Styles */
.navbar {
  background-color: var(--tone-5);
  width: 100%;
  height: 60px;
  border-bottom: var(--tone-4) solid 2px;
  padding: 0 30px;
  font-size: 1.5em;
}

.brand {
  border: none;
  background-color: transparent;
  color: var(--tone-1);
  padding: 0;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  margin-left: 30px;
  cursor: pointer;
  border-bottom: 3px solid transparent;
  transition: all 0.2s ease-in;
}

.navbar li:hover {
  border-bottom: 3px solid var(--tone-1);
}

.navbar li.active {
  border-bottom: 3px solid var(--tone-1);
}

/* Home Styles */
.tutorials-container {
  padding: 80px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 260px;
  gap: 40px;
  justify-items: center;
  overflow: auto;
}

.tutorial-progress {
  position: relative;
  width: 230px;
  height: 230px;
  border-radius: 50%;
  background: conic-gradient(
    #8b949e 0%,
    #8b949e 60%,
    #1f242c 60%,
    #1f242c 100%
  );
  cursor: pointer;
}

.tutorial-progress:hover {
  box-shadow: 0 0 20px 5px var(--tone-2t);
}

.tutorial-progress::after {
  content: '';
  position: absolute;
  width: 230px;
  height: 230px;
  border-radius: 50%;
  top: 0px;
  left: 0px;
  border: #2b333e solid 2px;
}

.tutorial {
  position: relative;
  width: 210px;
  height: 210px;
  border-radius: 50%;
  top: 10px;
  left: 10px;
  background-color: var(--tone-5);
  border: #0d1117 solid 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.tutorial::after {
  content: '';
  position: absolute;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  top: 0px;
  left: 0px;
  border: #2b333e solid 2px;
}

.tutorial-title {
  letter-spacing: 4;
  font-size: 1.8em;
}

.tutorial-add {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  top: 10px;
  left: 10px;
  border: #2b333e dashed 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.tutorial-add:hover {
  box-shadow: 0 0 20px 5px var(--tone-2t);
}

.tutorial-add::before {
  content: '';
  width: 120px;
  border-top: 6px #8b949e solid;
  transform: translate(2px, -3px);
}

.tutorial-add::after {
  content: '';
  height: 120px;
  border-left: 6px #8b949e solid;
  transform: translateX(-61px);
}

/* Viewer Styles */
.content {
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  height: 100%;
}

.groups {
  background-color: var(--tone-5);
  min-width: 250px;
  height: 100%;
  border-right: var(--tone-4) solid 2px;
  padding: 16px;
}

.app-xref {
  display: flex;
  height: 68px;
  justify-content: space-evenly;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--tone-4);
  cursor: pointer;
}

.app-name {
  color: var(--tone-1);
  font-size: 1.2em;
}

.app-xref p {
  font-size: 0.9em;
  width: 50px;
  height: 50px;
  margin-left: 10px;
  padding: 4px;
  display: block;
  color: var(--tone-3);
  border: 2px dashed var(--tone-3);
  line-height: 1;
  text-align: center;
  letter-spacing: 2;
}

/* Groups Navigation */
.groups-nav {
  padding-left: 5px;
  margin-bottom: 10px;
}

.groups-nav a {
  text-decoration: none;
  display: block;
  border: none;
  background: none;
  color: #6e7782;
  font-size: 1.4em;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  padding-left: 10px;
}

.dropdown-btn {
  display: block;
  border: none;
  background: none;
  color: #6e7782;
  font-size: 1.4em;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  border-bottom: 1px solid var(--tone-4);
}

.dropdown-btn > i {
  float: right;
  padding-right: 10px;
  padding-top: 4px;
}

.groups-nav a:hover,
.dropdown-btn:hover {
  color: var(--tone-1);
}

.dropdown-container {
  display: none;
}

.dropdown-btn.active {
  color: var(--tone-5);
  background-color: var(--tone-1);
}

.dropdown-btn.active:hover {
  color: var(--tone-5);
}

.features {
  background-color: var(--tone-5);
  min-width: 250px;
  height: 100%;
  border-left: var(--tone-4) solid 2px;
  padding: 16px;
}

.features-count {
  display: flex;
  height: 68px;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--tone-4);
}

.features-count p {
  margin: 0;
  font-size: 1.2em;
  display: block;
  color: var(--tone-1);
  text-align: center;
  letter-spacing: 2;
  transform: translateY(-8px);
}

.features-count p:nth-child(2) {
  font-size: 1em;
  color: var(--tone-3);
}

.features-collection {
  display: flex;
  flex-direction: column;
}

.feature-btn {
  margin-bottom: 10px;
  min-height: 32px;
  font-size: 1.2em;
  color: var(--tone-4);
  border: 1px solid var(--tone-4);
  background-color: transparent;
}

.feature-btn:last-of-type {
  margin-bottom: 0px;
}

.feature-btn:hover {
  color: var(--tone-1);
}

.feature-btn.active {
  color: var(--tone-5);
  background-color: var(--tone-1);
}

.feature-btn.active:hover {
  color: var(--tone-5);
}

/* Common Navigation Styles */
.add-group-feature {
  display: flex;
  border: 2px dashed var(--tone-3);
  padding: 4px;
  margin-top: 24px;
}

.group-feature-name {
  background-color: transparent;
  color: var(--tone-1);
  border: none;
  width: 100%;
  border-right: 1px solid var(--tone-3);
  margin-right: 4px;
  font-size: 1.2em;
}

.group-feature-name::placeholder {
  color: var(--tone-2t);
}

.add-group-feature-btn {
  border: none;
  color: var(--tone-1);
  background-color: transparent;
}

/* Slides Viewer */
.slides-viewer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Slides Header */
.slides-header {
  display: flex;
  background-color: var(--tone-5);
}

.slides-progress {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 56px;
  padding: 18px;
}

.prograss-frag {
  width: 100%;
}

.progress-bar {
  z-index: -10;
  height: 4px;
  background-color: #39404b;
  transform: translateY(8px);
}

.prograss-frag:first-of-type::before {
  content: '';
  position: absolute;
  top: 16px;
  height: 24px;
  width: 4px;
  background-color: #8b949e;
}

.progress-disc {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #39404b;
  float: right;
  transform: translateY(-6px);
}

.prograss-frag:last-of-type .progress-disc {
  background-color: #45a369;
}

.add-slide {
  position: relative;
  display: flex;
  align-items: center;
}

.inheader-slide-id {
  color: var(--tone-1);
  background-color: var(--tone-5t);
  border: none;
  min-width: 220px;
  height: 32px;
  padding: 2px 8px;
  border-radius: 16px;
  margin-right: 18px;
  box-shadow: 0 0 3px 2px var(--tone-2t);
}

.inheader-slide-id::placeholder {
  color: var(--tone-2t);
  text-align: center;
  transform: translateX(-14px);
  font-size: 1.1em;
}

.add-slide-btn {
  height: 28px;
  width: 28px;
  border-radius: 50%;
  border: none;
  position: absolute;
  right: 20px;
  top: 14px;
}

/* Slides Body */
.slides-body {
  position: relative;
  width: 100%;
  height: calc(100vh - 111px);
  display: flex;
  align-items: center;
}

.incanvas-slide-name,
.incanvas-slide-id {
  position: absolute;
  top: 20px;
  color: var(--tone-1);
  background-color: var(--tone-5t);
  border: none;
  min-width: 190px;
  padding: 2px 4px;
}

.incanvas-slide-name {
  left: 40px;
  font-size: 1.1em;
}

.incanvas-slide-name::placeholder {
  font-size: 1.1em;
  color: var(--tone-2t);
  text-align: center;
}

.incanvas-slide-id {
  right: 40px;
}

.prev-btn,
.next-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  color: var(--tone-1);
  font-size: 30px;
  transform: translateY(-44px);
  cursor: pointer;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  transition: 0.3s ease;
  box-shadow: 0 0 4px 1px var(--tone-5t);
  opacity: 0;
}

.slides-viewer:hover .prev-btn,
.slides-viewer:hover .next-btn {
  opacity: 1;
}

.prev-btn:hover,
.next-btn:hover {
  background-color: var(--tone-5t);
}

.prev-btn {
  left: 40px;
  padding-right: 2px;
}

.next-btn {
  right: 40px;
  padding-left: 2px;
}

.canvas {
  width: 560px;
  height: 360px;
}

.slide-img {
  width: 100%;
  height: 100%;
  background: url('../public/images/sakura.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.notes-body {
  position: absolute;
  display: none;
  align-items: center;
  background-color: var(--tone-5t);
  width: 80%;
  height: 70%;
  right: 0;
  left: 0;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  padding: 28px;
  transform: translateY(-40px);
}

.notes-body.show {
  display: flex;
}

.notes-content {
  /* width: 100%; */
  /* height: 100%; */
  font-size: 1.2em;
  overflow: auto;
  /* white-space: pre-wrap; */
}

.notes-body textarea {
  width: 100%;
  height: 100%;
  padding: 16px;
  font-size: 1.2em;
}

.notes-body .slide-controls-btn {
  /* transform: translateY(50%); */
  position: absolute;
  right: 0;
  left: 0;
  bottom: -50px;
  margin: 0 auto;
  background-color: var(--tone-5t);
}

.slide-controls {
  transform: translateY(-60px);
  width: 100%;
  height: 60px;
  background-color: #161b2285;
  opacity: 0;
  transition: opacity 0.2s ease-in;
  display: grid;
  grid-template-columns: 2fr 10fr 2fr;
  justify-items: center;
  align-items: center;
}

.slide-controls.show {
  opacity: 1;
}

.slides-viewer:hover .slide-controls {
  opacity: 1;
}

.slide-controls-btn {
  border: none;
  background-color: transparent;
  color: var(--tone-1);
  height: 30px;
  width: 110px;
  border-radius: 15px;
  box-shadow: 0 0 3px 2px var(--tone-2t);
  font-size: 1.2em;
  text-align: center;
  transform: translateY(-2px);
}

/* Media Queries */
@media screen and (max-width: 1536px) {
  .tutorials-container {
    padding: 80px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 1200px) {
  .tutorials-container {
    padding: 80px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 960px) {
  .tutorials-container {
    padding: 80px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 620px) {
  .navbar {
    padding: 0 20px;
    font-size: 1.3em;
  }

  .navbar li {
    margin-left: 10px;
  }

  .tutorials-container {
    padding: 80px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
