@import url('./styles/customAudio.css');

:root {
  --tone-1: #f0f6fc;
  --tone-2t: #f0f6fc94;
  --tone-3: #7d8794;
  --tone-4: #535b64;
  --tone-5: #161b22;
  --tone-5t: #161b228d;
}

html {
  overflow: hidden;
}

body {
  background-color: #0d1117;
  color: var(--tone-1);
  font-size: 14px;
  box-sizing: border-box;
}

.fa {
  cursor: pointer;
}

/* Navbar Styles */
.navbar {
  display: grid;
  grid-template-columns: 2fr 10fr 2fr;
  background-color: var(--tone-5);
  width: 100%;
  height: 70px;
  border-bottom: var(--tone-4) solid 2px;
  padding: 0 30px;
  font-size: 1.5em;
}

.brand {
  border: none;
  background-color: transparent;
  color: var(--tone-1);
  padding: 0;
  text-decoration: none;
}

.brand:hover {
  color: inherit;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: right;
}

.navbar li {
  margin-left: 30px;
  cursor: pointer;
  border-bottom: 3px solid transparent;
  transition: all 0.2s ease-in;
}

.navbar li:hover {
  border-bottom: 3px solid var(--tone-1);
}

.navbar li.active {
  border-bottom: 3px solid var(--tone-1);
}

/* Home Styles */
.tutorials-container {
  padding: 80px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 260px;
  gap: 40px;
  justify-items: center;
  overflow: auto;
}

.tutorial-progress {
  position: relative;
  width: 230px;
  height: 230px;
  border-radius: 50%;
  background: conic-gradient(
    /* #8b949e 0%, */ /* #8b949e 60%, */ #1f242c 0%,
    #1f242c 100%
  );
  cursor: pointer;
}

.tutorial-progress:hover {
  box-shadow: 0 0 20px 5px var(--tone-2t);
}

.tutorial-progress::after {
  content: '';
  position: absolute;
  width: 230px;
  height: 230px;
  border-radius: 50%;
  top: 0px;
  left: 0px;
  border: #2b333e solid 2px;
  z-index: 0;
}

.tutorial {
  position: relative;
  width: 210px;
  height: 210px;
  border-radius: 50%;
  top: 10px;
  left: 10px;
  background-color: var(--tone-5);
  border: #0d1117 solid 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.tutorial::after {
  content: '';
  position: absolute;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  top: 0px;
  left: 0px;
  border: #2b333e solid 2px;
  z-index: 0;
}

.tutorial-title {
  letter-spacing: 4;
  font-size: 1.8em;
  /* text-overflow: ellipsis; */
  /* overflow: hidden; */
  /* max-height: 90px; */
  /* white-space: nowrap; */
}

.tutorial-add {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  top: 10px;
  left: 10px;
  border: #2b333e dashed 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.tuto-add-container {
  background-color: var(--tone-3);
}

.title-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* z-index: 100; */
  width: 100%;
  height: 100%;
}

.title-container textarea {
  position: absolute;
  top: 40px;
  left: 0;
  color: var(--tone-1);
  border: none;
  text-align: center;
  letter-spacing: 4;
  font-size: 1.8em;
  width: 160px;
  background-color: var(--tone-5);
  /* width: 100%; */
  /* height: 100%; */
  /* z-index: 1000; */
  resize: none;
  outline: none;
}

.title-container textarea::placeholder {
  text-align: center;
  color: var(--tone-2t);
}

.title-container textarea::-webkit-scrollbar {
  display: none;
}

.tutorial-add:hover {
  box-shadow: 0 0 20px 5px var(--tone-2t);
}

.tutorial-add::before {
  content: '';
  width: 120px;
  border-top: 6px #8b949e solid;
  transform: translate(2px, -3px);
}

.tutorial-add::after {
  content: '';
  height: 120px;
  border-left: 6px #8b949e solid;
  transform: translateX(-61px);
}

/* Viewer Styles */
.content {
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  height: 100%;
}

.groups {
  background-color: var(--tone-5);
  min-width: 250px;
  height: 100%;
  border-right: var(--tone-4) solid 2px;
  padding: 16px;
}

.app-xref {
  display: flex;
  height: 68px;
  justify-content: space-evenly;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--tone-4);
  cursor: pointer;
  text-decoration: none;
}

.app-name {
  color: var(--tone-1);
  font-size: 1.2em;
}

.app-xref p {
  font-size: 0.9em;
  width: 50px;
  height: 50px;
  margin-left: 10px;
  padding: 4px;
  display: block;
  color: var(--tone-3);
  border: 2px dashed var(--tone-3);
  line-height: 1;
  text-align: center;
  letter-spacing: 2;
}

/* Groups Navigation */
.groups-collection {
  height: 80vh;
  overflow-y: auto;
  direction: rtl;
}

.groups-nav {
  padding-left: 5px;
  margin-bottom: 10px;
  direction: ltr;
}

.groups-nav a {
  text-decoration: none;
  display: block;
  border: none;
  background: none;
  color: #6e7782;
  font-size: 1.4em;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  padding-left: 10px;
}

.dropdown-btn {
  display: block;
  border: none;
  background: none;
  color: #6e7782;
  font-size: 1.4em;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  border-bottom: 1px solid var(--tone-4);
}

.dropdown-btn > i {
  float: right;
  padding-right: 10px;
  padding-top: 4px;
}

.groups-nav a:hover,
.dropdown-btn:hover {
  color: var(--tone-1);
}

.dropdown-container {
  display: none;
}

.dropdown-btn.active {
  color: var(--tone-5);
  background-color: var(--tone-1);
}

.dropdown-btn.active:hover {
  color: var(--tone-5);
}

.features {
  background-color: var(--tone-5);
  min-width: 250px;
  height: 100%;
  border-left: var(--tone-4) solid 2px;
  padding: 16px;
}

.features-count {
  display: flex;
  height: 68px;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--tone-4);
}

.features-count p {
  margin: 0;
  font-size: 1.2em;
  display: block;
  color: var(--tone-1);
  text-align: center;
  letter-spacing: 2;
  transform: translateY(-8px);
}

.features-count p:nth-child(2) {
  font-size: 1em;
  color: var(--tone-3);
}

.features-collection {
  display: none;
  flex-direction: column;
}

.feature-btn {
  margin-bottom: 10px;
  min-height: 32px;
  font-size: 1.2em;
  color: var(--tone-4);
  border: 1px solid var(--tone-4);
  background-color: transparent;
}

.feature-btn:last-of-type {
  margin-bottom: 0px;
}

.feature-btn:hover {
  color: var(--tone-1);
}

.feature-btn.active {
  color: var(--tone-5);
  background-color: var(--tone-1);
}

.feature-btn.active:hover {
  color: var(--tone-5);
}

#add-feature-note {
  margin-top: 8px;
  color: #f9d17c;
  text-align: center;
  display: none;
}
#add-feature-note.show {
  display: block;
}

/* Common Navigation Styles */
.add-group-feature {
  display: none;
  border: 2px dashed var(--tone-3);
  padding: 4px;
  margin-top: 24px;
  direction: ltr;
}

.group-feature-name {
  background-color: transparent;
  color: var(--tone-1);
  border: none;
  width: 100%;
  border-right: 1px solid var(--tone-3);
  margin-right: 4px;
  font-size: 1.2em;
}

.group-feature-name::placeholder {
  color: var(--tone-2t);
}

.add-group-feature-btn {
  border: none;
  color: var(--tone-1);
  background-color: transparent;
}

/* Slides Viewer */
.slides-viewer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Slides Header */
.slides-header {
  display: flex;
  background-color: var(--tone-5);
}

.slides-progress {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 56px;
  padding: 18px;
  cursor: pointer;
}

.progress-frag {
  width: 100%;
}

.progress-bar {
  z-index: -10;
  height: 4px;
  background-color: #39404b;
  transform: translateY(8px);
  transition: all 0.5s linear;
}

.progress-frag:first-of-type::before {
  content: '';
  position: absolute;
  top: 16px;
  height: 24px;
  width: 4px;
  background-color: #8b949e;
  z-index: 5;
}

.progress-disc {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #39404b;
  float: right;
  transform: translateY(-6px);
}

/* .progress-frag:last-of-type .progress-disc {
  background-color: #45a369;
} */

/* .progress-frag.active .progress-bar, */
.progress-frag.active .progress-disc {
  /* background-color: #8b949e; */
  outline: 3px solid #8b949e;
  outline-offset: 4px;
}

.progress-frag.viewed .progress-bar,
.progress-frag.viewed .progress-disc {
  background-color: #f9d17c;
}

.add-slide,
.add-existing-feature {
  position: relative;
  display: none;
  align-items: center;
}

.inheader-slide-id,
.existing-feature-id {
  color: var(--tone-1);
  background-color: var(--tone-5t);
  border: none;
  min-width: 220px;
  height: 32px;
  padding: 2px 8px;
  border-radius: 16px;
  margin-right: 18px;
  box-shadow: 0 0 3px 2px var(--tone-2t);
}

.existing-feature-id {
  width: 100%;
  margin-right: 0;
  margin-top: 24px;
}

.inheader-slide-id::placeholder,
.existing-feature-id::placeholder {
  color: var(--tone-2t);
  text-align: center;
  transform: translateX(-14px);
  font-size: 1.1em;
}

.add-slide-btn,
.add-existing-feature-btn {
  height: 28px;
  width: 28px;
  border-radius: 50%;
  border: none;
  position: absolute;
  right: 20px;
  top: 14px;
}
.add-existing-feature-btn {
  right: 2px;
  top: 26px;
}

.add-slide-btn i,
.add-existing-feature-btn i {
  transform: translateY(1px);
}

/* Slides Body */
.slides-body {
  position: relative;
  width: 100%;
  height: calc(100vh - 111px);
  display: flex;
  align-items: center;
}

.slides-body.highlight {
  border: 5px dashed var(--tone-3);
}

.incanvas-slide-name,
.incanvas-slide-id {
  position: absolute;
  top: 20px;
  color: var(--tone-1);
  background-color: var(--tone-5t);
  border: none;
  min-width: 190px;
  padding: 2px 4px;
  display: none;
  text-align: center;
}

.incanvas-slide-name {
  left: 40px;
  font-size: 1.1em;
}

.incanvas-slide-name::placeholder {
  font-size: 1.1em;
  color: var(--tone-2t);
  text-align: center;
}

.incanvas-slide-id {
  right: 40px;
}

.file-input {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 32px;
  width: 150px;
  border-radius: 16px;
  display: none;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 3px 2px var(--tone-2t);
  background-color: var(--tone-5t);
  cursor: pointer;
}

.file-input input {
  display: none;
}

.file-input::after {
  content: 'Or drag & drop here';
  padding: 1px 5px;
  background-color: var(--tone-2t);
  position: absolute;
  top: 40px;
  color: var(--tone-5);
  font-weight: 700;
}

.prev-btn,
.next-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  color: var(--tone-1);
  font-size: 30px;
  transform: translateY(-44px);
  cursor: pointer;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  transition: 0.3s ease;
  box-shadow: 0 0 4px 1px var(--tone-5t);
  opacity: 0;
}

.slides-viewer:hover .prev-btn,
.slides-viewer:hover .next-btn {
  opacity: 1;
}

.prev-btn:hover,
.next-btn:hover {
  background-color: var(--tone-5t);
}

.prev-btn {
  left: 40px;
  padding-right: 2px;
}

.next-btn {
  right: 40px;
  padding-left: 2px;
}

.canvas {
  width: 560px;
  height: 360px;
  display: none;
}

.slide-img {
  width: 100%;
  height: 100%;
  background: url('../public/images/sakura.jpg');
  background-repeat: no-repeat !important;
  background-size: contain !important;
  background-position: center !important;
  display: block;
}

.notes-body {
  position: absolute;
  display: none;
  align-items: center;
  background-color: var(--tone-5t);
  width: 80%;
  height: 70%;
  right: 0;
  left: 0;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  padding: 28px;
  transform: translateY(-40px);
}

.notes-body.show {
  display: flex;
}

.notes-content {
  /* width: 100%; */
  /* height: 100%; */
  font-size: 1.2em;
  overflow: auto;
  display: block;
  /* white-space: pre-wrap; */
}

.notes-body textarea {
  width: 100%;
  height: 100%;
  padding: 16px;
  font-size: 1.2em;
}

.notes-body .slide-controls-btn {
  position: absolute;
  right: 0;
  left: 0;
  bottom: -50px;
  margin: 0 auto;
  background-color: var(--tone-5t);
}

.slide-controls {
  transform: translateY(-74px);
  width: 100%;
  height: 60px;
  background-color: #161b2285;
  opacity: 0;
  transition: opacity 0.2s ease-in;
  display: grid;
  grid-template-columns: 2fr 10fr 2fr;
  justify-items: center;
  align-items: center;
}

.slide-controls.show {
  opacity: 1;
}

.slides-viewer:hover .slide-controls {
  opacity: 1;
}

.actions-controls {
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 100%;
}

.record-btn {
  display: none;
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  cursor: pointer;
  transform: translateY(-1px);
}

.stop-rec {
  background-color: rgb(200, 0, 0);
  outline: 1px solid rgb(200, 0, 0);
  outline-offset: 3px;
}

.rec {
  animation-name: pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes pulse {
  0% {
    box-shadow: 0px 0px 3px 0px rgba(255, 0, 0, 0.5);
  }
  65% {
    box-shadow: 0px 0px 3px 7px rgba(255, 0, 0, 0.5);
  }
  100% {
    box-shadow: 0px 0px 3px 7px rgba(255, 0, 0, 0.5);
  }
}

.stop-btn {
  display: none;
}

/* .record-btn {
  display: block;
} */

.slide-controls-btn {
  border: none;
  background-color: transparent;
  color: var(--tone-1);
  height: 30px;
  width: 110px;
  border-radius: 15px;
  box-shadow: 0 0 3px 2px var(--tone-2t);
  font-size: 1.2em;
  text-align: center;
  transform: translateY(-2px);
}

/* viewer and editor toggle styles */
#expand-btn {
  display: block;
}

#slide-show-notes-btn {
  display: block;
}

#slide-add-notes-btn {
  display: none;
}

#slide-submit-btn {
  display: none;
}

#notes-textarea {
  display: none;
}

#submit-notes-btn {
  display: none;
}

.hide {
  display: none !important;
}

.show-block {
  display: block !important;
}

.show-flex {
  display: flex !important;
}

/* Media Queries */
@media screen and (max-width: 1536px) {
  .tutorials-container {
    padding: 80px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 1200px) {
  .tutorials-container {
    padding: 80px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 960px) {
  .tutorials-container {
    padding: 80px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 620px) {
  .navbar {
    padding: 0 20px;
    font-size: 1.3em;
  }

  .navbar li {
    margin-left: 10px;
  }

  .tutorials-container {
    padding: 80px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: var(--tone-4);
}
::-webkit-scrollbar-thumb {
  background: var(--tone-2t);
  border-radius: 3px;
}

/* Nanorep custom styles */
#nanorep-embedded-widget {
  display: flex !important;
  justify-content: center;
  overflow: visible;
}

#nanorep1 {
  width: 70% !important;
  max-width: 800px !important;
  border: 3px dashed var(--tone-2t) !important;
}

#nanorep1 #nanorep-ew .scrollable {
  height: auto !important;
}

.query-field__buttons {
  background-color: var(--tone-5) !important;
}

#nanorep1 #nanorep-ew .widget-embedded--support-center .query-field__input {
  height: 40px !important;
  background-color: var(--tone-5) !important;
  color: var(--tone-1) !important;
  line-height: 40px !important;
}
#nanorep1
  #nanorep-ew
  .widget-embedded--support-center
  .query-field__input::placeholder {
  color: var(--tone-2t);
}
.query-field__suggestion {
  color: var(--tone-5) !important;
  background-color: var(--tone-2t) !important;
}

.core-search {
  position: relative !important;
}

.core-search__content {
  /* position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 10;
  height: 500px;
  width: 100%; */
}

/* Article body styles */

.article-content-btn {
  border: none;
  padding: 4px 8px;
  border-radius: 2px;
  border: 3px solid var(--tone-4);
  background-color: var(--tone-2t);
  color: var(--tone-4);
  font-size: 1.2em;
  font-weight: 700;
}

.article-content-btn:hover {
  border: 3px solid var(--tone-4);
  background-color: var(--tone-4);
  color: var(--tone-1);
}
